<div class="global-w container p-3 my-3 border">
  <h1>Sign in</h1>
</div>

<%= render 'form' %>

<div class="session-links global-w container p-3 my-3">
  <%= link_to 'Sign up', new_user_path %>
</div>

