
<div class="sessions-page-container mt-md-5">
  <h2 class="hidden">Login</h2>
  <div class="text-center p-3 mb-md-4 bg-white">
    <%= image_tag('logo.png', alt:'logo', class:'login-logo', width: 250) %>
  </div>


  <div class="text-center p-3 my-md-3">
    <h1 class="text-dark">Sign in</h1>
  </div>

  <%= render 'form' %>

  <div class="text-center p-3 my-3">
    <p>No account?</p>
    <%= link_to 'Sign up', new_user_path, class:"text-primary" %>
  </div>
</div>
