<div class="signup-page-container">
  <div class="text-center p-3 mb-3 mt-md-5 border">
    <h1>Sign Up</h1>
  </div>

  <%= render 'form', user: @user %>

  <div class="text-center p-3 my-3">
    <p>Already a user? Back to <%= link_to 'Sign in', login_path %></p>
  </div>
</div>
