/*
  *= require_self
*/

@import "bootstrap/scss/bootstrap";
@import "global_settings";
@import "sessions";
@import "opinions";
@import "users";

/*
  =======================
  LEFT-SIDE MENU
  =======================
*/

.left-side-menu {
  width: 250px;
  background-color: $secondary-color;
  color: $secondary-color-font;
  top: 0;
  bottom: 0;
  left: 0;
}

.left-menu-top {
  background-color: $dark-secondary-color;
}

.left-menu-profile,
.left-menu-stats {
  height: 80px;
  border-bottom: solid 1px $dark-secondary-color-border;
}

.left-menu-profile h2 {
  font-size: 0.8rem;
}

.left-menu-stats {
  height: 80px;
}

.left-menu-user-stats-box {
  flex-basis: calc(250px / 2);
}

.left-menu-user-stats-box-l {
  border-right: solid 1px $dark-secondary-color-border;
}

.user-stats-total-left-menu {
  color: $bg-white;
  font-size: 1.2rem;
}

.left-menu-link-home,
.left-menu-link-profile {
  position: relative;
}

.left-menu-link-home:hover,
.left-menu-link-profile:hover,
.left_menu_link_active {
  background-color: $primary-color;
  color: $bg-white;
}

.left-menu-links .fas {
  font-size: 1.5rem;
}

/*
  =======================
  HEADER
  =======================
*/

.header {
  background-color: $primary-color;
  color: $primary-color-icons;
  left: 250px;
  top: 0;
  right: 0;
  height: 80px;
  z-index: $zindex-fixed;
}

.color-correction {
  filter: brightness(0) invert(100%);
}

.header-navbar-links {
  width: 280px;
}

.header-navbar-links .fas {
  font-size: 1.3rem;
}

.header-navbar-links .fas:hover {
  color: $secondary-color;
}

/*
  =======================
  RIGHT-SIDE-NAV
  =======================
*/

.right-side-nav {
  top: 80px;
  right: 0;
  bottom: 0;
  width: 280px;
  border-color: $dark-gray;
}

// HOMEPAGE-RIGHT-SIDE-NAV

.who-to-follow-module-title,
.followed-by-module-title {
  height: 80px;
}

.new-user-name,
.profile-info-fullname,
.follower-fullname {
  color: $header-gray;
  font-weight: bold;
  font-size: 0.85rem;
}

// USERPAGE-RIGHT-SIDE-NAV

.fa-plus-circle,
.fa-minus-circle,
.fa-list-ul {
  font-size: 2.1rem;
}

.fa-plus-circle:hover,
.fa-minus-circle:hover,
.fa-list-ul:hover {
  font-size: 2.1rem;
  color: $primary-color;
}

.profile-info-fullname {
  line-height: normal;
  font-size: 0.9rem;
}

.user-stats-total {
  font-size: 1.3rem;
  color: $header-gray;
}

.profile-info-stats {
  height: 80px;
}

.user-stats-box {
  flex-basis: calc(280px / 3);
}

.follower-username {
  font-size: 0.7rem;
}

/*
  =======================
  VOTE MODULE
  =======================
*/

.vote-module {
  margin-left: calc(50px + 1rem);
  font-size: 0.8rem;
}

.vote-module .fa-thumbs-up {
  font-size: 1.2rem;
}

.fas.fa-thumbs-up {
  color: $primary-color;
}

.far.fa-thumbs-up {
  color: $light-gray;
}

.fas.fa-thumbs-up:hover,
.far.fa-thumbs-up:hover {
  color: $primary-color-icons;
}

.vote-button-div span {
  font-size: 0.7rem;
}
