/*
  *= require_self
*/

@import "bootstrap/scss/bootstrap";
@import "global_settings";
@import "sessions";
@import "opinions";
@import "users";

/*
  =======================
  LEFT-SIDE MENU
  =======================
*/

.left-side-menu {
  width: 250px;
  background-color: $secondary-color;
  color: $secondary-color-font;
  top: 0;
  bottom: 0;
  left: 0;
}

.left-menu-profile h2 {
  font-size: 0.7rem;
}

.left-menu-stats .count {
  color: $bg-white;
  font-size: 1.2rem;
}

.left-menu-link-home,
.left-menu-link-profile {
  position: relative;
}

.left-menu-links .fas {
  font-size: 1.5rem;
}

/*
  =======================
  HEADER
  =======================
*/

.header {
  background-color: $primary-color;
  color: $primary-color-icons;
  left: 250px;
  top: 0;
  right: 0;
  height: 80px;
  z-index: $zindex-fixed;
}

.color-correction {
  filter: brightness(0) invert(100%);
}

.header-navbar-links {
  width: 280px;
}

.header-navbar-links .fas {
  font-size: 1.3rem;
}

/*
  =======================
  RIGHT-SIDE-NAV
  =======================
*/

.right-side-nav {
  top: 80px;
  right: 0;
  bottom: 0;
  width: 280px;
  border-color: $dark-gray;
}

// HOMEPAGE-RIGHT-SIDE-NAV

.who-to-follow-module-title,
.followed-by-module-title  {
  height: 80px;
}

// USERPAGE-RIGHT-SIDE-NAV

.fa-plus-circle,
.empty-i,
.fa-minus-circle,
.fa-list-ul {
  font-size: 2.1rem;
}

.profile-info-fullname {
  line-height: normal;
}

.profile-info-fullname {
  font-size: 0.9rem;
  color: $header-gray;
}

.user-stats-total {
  font-size: 1.3rem;
  color: $header-gray;
}

.profile-info-stats {
  height: 80px;
}

.user-stats-box {
  flex-basis: calc(280px/3);
}

.follower-fullname {
  font-size: 0.8rem;
  color: $header-gray;
}

.follower-username {
  font-size: 0.7rem;
}
