/*
  *= require_self
*/

@import "bootstrap/scss/bootstrap";
@import "sessions";
@import "opinions";

/*
  =======================
  Global stylings
  =======================
*/

html {
  font-size: 1rem;
}

// Background Colors //

$primary-color: #50a4e2;
$secondary-color: #213246;
$bg-gray: #f5f6f8;
$bg-white: #fff;

// Fonts //

$primary-font: 'Lato',
  sans-serif;

// Font Colors //

$primary-color-icons: #396f9b;
$secondary-color-font: #667b90;
$dark-gray: #b8b9bb;
$header-gray: #404c5c;
$light-gray: #c6c6c8;

// Font Styles //

@mixin font-styles($weight: 400, $font-size: 1em, $line-height: 1.3em, $font: $primary-font, $letter-spacing: normal) {
  font: $weight #{$font-size}/#{$line-height} $font;
  letter-spacing: $letter-spacing;
}

/*
  =======================
  General layout
  =======================
*/

.hidden {
  position: absolute;
  left: -9999999px;
}

.overflow-hidden {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

/*
  =======================
  Typography
  =======================
*/

body {
  @include font-styles($font-size: 0.9rem, $line-height: 1.3rem);

  color: $dark-gray;
  background-color: $bg-gray;
}

h1,
h2 {
  @include font-styles($font-size: 0.9rem, $line-height: 0.9rem);
  margin: 0;
}

h3 {
  @include font-styles($font-size: 0.8rem, $letter-spacing: -0.3px);
  margin: 0;
}

a {
  @include font-styles(inherit);

  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

/*
  =======================
  LEFT-SIDE MENU
  =======================
*/

.left-side-menu {
  height: 100vh;
  width: 250px;
  background-color: $secondary-color;
  color: $secondary-color-font;
  top: 0;
  bottom: 0;
  left: 0;

}

.left-menu-profile h2 {
  font-size: 0.7rem;
}

.left-menu-stats .count {
  color: $bg-white;
  font-size: 1.2rem;
}

.left-menu-link-home,
.left-menu-link-profile {
  position: relative;
}

.left-menu-links .fas {
  font-size: 1.5rem;
}

/*
  =======================
  HEADER
  =======================
*/

.header {
  background-color: $primary-color;
  color: $primary-color-icons;
  left: 250px;
  top: 0;
  right: 0;
  height: 100px;
}

.color-correction {
  filter: brightness(0) invert(100%);
}

.header-navbar-links {
  width: 250px;
}

.header-navbar-links .fas {
  font-size: 1.3rem;
}

/*
  =======================
  RIGHT-SIDE-NAV
  =======================
*/

.right-side-nav {
  top: 100px;
  right: 0;
  bottom: 0;
  width: 250px;
}

// HOMEPAGE-RIGHT-SIDE-NAV

.who-to-follow-module-title {
  height: 100px;
}

.top-image-container {
  border: 2px solid white;
  margin-right: 25px;
  width: 75px;
  height: 75px;
}
