/*
  =======================
  Global stylings
  =======================
*/

html {
  font-size: 1rem;
}

// Background Colors //

$primary-color: #50a4e2;
$secondary-color: #213246;
$bg-gray: #f5f6f8;
$bg-white: #fff;

// Fonts //

$primary-font: 'Lato',
  sans-serif;

// Font Colors //

$primary-color-icons: #396f9b;
$secondary-color-font: #667b90;
$dark-gray: #b8b9bb;
$header-gray: #404c5c;
$light-gray: #c6c6c8;

// Font Styles //

@mixin font-styles($weight: 400, $font-size: 1em, $line-height: 1.3em, $font: $primary-font, $letter-spacing: normal) {
  font: $weight #{$font-size}/#{$line-height} $font;
  letter-spacing: $letter-spacing;
}

/*
  =======================
  General layout
  =======================
*/

.hidden {
  position: absolute;
  left: -9999999px;
}

.overflow-hidden {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

#notice {
  color: $light-gray;
  background-color: $header-gray;
  width: 100%;
  // border-right: 1px solid $light-gray;
  // border-left: 1px solid $light-gray;
  text-align: center;
  padding: 1.5rem;
  font-size: 1rem;
}

/*
  =======================
  Typography
  =======================
*/

body {
  @include font-styles($font-size: 0.9rem, $line-height: 1.3rem);

  color: $dark-gray;
  background-color: $bg-gray;
}

h1,
h2 {
  @include font-styles($font-size: 0.9rem, $line-height: 0.9rem);

  margin: 0;
}

h3 {
  @include font-styles($font-size: 0.8rem, $letter-spacing: -0.3px);

  margin: 0;
}

a {
  @include font-styles(inherit);

  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

p,
hr {
  margin: 0;
}
