@import "bootstrap/scss/bootstrap";
@import "global_settings";

.opinions-index-container {
  left: 250px;
  top: 100px;
  right: 250px;
}

.opinions-index-nav {
  height: 100px;
}

.new-opinion {
  background-color: $bg-white;
}
