@import "bootstrap/scss/bootstrap";
@import "global_settings";

.opinions-index-container,
.user-page-container {
  left: 250px;
  top: 80px;
  right: 280px;
  position: absolute;
}

.opinions-index-nav {
  height: 80px;
}

.create-new-opinion,
.opinions-list-wrapper {
  background-color: $bg-white;
}

.opinion-text {
  resize: none;
}

.share-opinion-bt {
  background-color: $primary-color;
  color: $bg-white;
  padding: 1rem;
  border-width: 0;
}

.new-opinions-count {
  color: $primary-color;
  line-height: 0.5rem;
}

.opinions-text {
  margin-left: calc(50px + 1rem);
  font-size: 0.8rem;
}

.opinion-author-name {
  color: $header-gray;
  font-weight: bold;
  font-size: 0.9rem;
}

/*
  =======================
  Media Query: 1200 MAX
  =======================
*/

@media (max-width: 1200px) {
  .opinions-index-container,
  .user-page-container {
    left: 200px;
    right: 220px;
  }
}

/*
  =======================
  Media Query: 992 MAX
  =======================
*/

@media (max-width: 992px) {
  .opinions-index-container,
  .user-page-container {
    left: 150px;
    right: 190px;
  }
}

/*
  =======================
  Media Query: 768 MAX
  =======================
*/

@media (max-width: 768px) {
  .opinions-index-container,
  .user-page-container {
    position: static;
    width: 100%;
    margin-bottom: 80px;
  }

  .opinions-index-nav {
    position: absolute;
    height: 0;
    left: -1000px;
  }

  .homepage-top-nav-hr {
    position: absolute;
    left: -9999999px;
  }

  .opinion-author-thumb-pic {
    width: 35px;
    height: 35px;
  }

  .opinions-text,
  .vote-module {
    margin-left: calc(35px + 1rem);
  }
}
